div.wrapper {
	width: 500px;
	height: 540px;
	margin: 20px auto;
}

table {
	width: 500px;
	height: 540px;
	border-spacing: 0;	
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

tr,
td {
	text-align: center; 
	margin: 0; 
	padding: 0;
	background: #fff;
	border: 10px solid #000;
}

#red {
	background: #ff5632;
}

#yellow {
	background: #fff562;
}

#black {
	background: #000;
}

#blue {
	background: #0c4c8b;
}

td.height {
	height: 30px;
}

td.width {
	width: 40px;
}