@font-face {
    font-family: 'Ubuntu Condensed Regular';
    src: url('font/ubuntu-c-webfont.woff2') format('woff2'),
         url('font/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('font/ubuntu-l-webfont.woff2') format('woff2'),
         url('font/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('font/ubuntu-m-webfont.woff2') format('woff2'),
         url('font/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}