@media screen and (max-width: 767px) {

.wrap-menu {
	width: 100%;
}

.none {
	display: none;
}
/* SHOW CLOSE start */
.show.non .box {
  /* margin: -50px auto 0; */
  margin: 0;
  width: 320px;
  height: auto;
  min-height: 155px;
  position: absolute;
  /* position: fixed; */
  /* padding: 20px 40px; */
  background: #ffffff;
  box-shadow: 1px 0 10px #9c9c9c;
  top: 0;
  left: 0;
  right: auto;
  z-index: 999;
}

.show.non .close,
.showfil.non .close {
  display: block;
  /* position: fixed; */
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  bottom: 0;
  left: 270px;
  right: auto;
  background-color: #ffffff;
  border-radius: 15px;
}
.box_cap {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	margin: 25px auto 25px 25px;
}
.show.non .close img,
.showfil.non .close img {
	width: 30px;
	height: 30px;
}

.showfil.non {
	/* position: fixed; */
	position:absolute;
	width: 320px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.showfil.non .boxfiltr {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	box-shadow: 1px 0 10px #9c9c9c;
	top: 0;
	left: 0;
	right: auto;
	z-index: 999;
}

.catalog-wrap {
	margin-left: 25px;
	margin-bottom: 25px;
}

/* SHOW CLOSE end */

fieldset {
	width: 100%;
	padding: 0;
}

/* MENU start */
.dropdown {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.dropdown .nav1 {
	width: 40px;
	float: left;
	position: relative;
	z-index: 5;
}
.dropdown .nav2,
.dropdown .nav3 {
	float: right;
	position: relative;
	z-index: 5;
}
.dropdown .nav2 {
	width: 60px;
}

.nav3 {
	width: 120px;
}

header {
	position: relative;
}

.dropdown .nav1 #menu-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url("../img/menu-button_white.png") no-repeat 8px 7px;
}

.dropdown .nav2 #enter,
.dropdown .nav3 #vasya {
	display: inline-block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}
.dropdown .nav2 #enter {
	width: 100%;
}
.dropdown .nav3 #vasya {
	width: 80.5%;
	margin-left: 0;
}

.dropdown .nav1 #menu-icon:hover,
.dropdown .nav1 #menu-icon:active {
	background: url("../img/menu-button.png") no-repeat 8px 7px;
	background-color: #fff;
	box-shadow: 1px 0 10px #9c9c9c;
}

.dropdown .nav2 #enter:hover,
.dropdown .nav2 #enter:active,
.dropdown .nav3 #vasya:hover,
.dropdown .nav3 #vasya:active {
	background-color: #fff;
	color: #666666;
}


.dropdown .nav1 ul, .nav1:active ul,
.dropdown .nav2 ul, .nav2:active ul,
.dropdown .nav3 ul, .nav3:active ul { 
	display: none;
	position: absolute;
	background: #fff;
	top: 40px;
	box-shadow: 1px 5px 10px #9c9c9c;
	/* width: 100%; */  /* растягивание меню на всю ширину окна */
}

.dropdown .nav1:hover #menu-icon {
	background-color: #fff;
	box-shadow: 1px 5px 10px #9c9c9c;
}
/* .nav1:hover #menu-icon img {
	filter: invert(55%);
} */
.dropdown .nav2:hover #enter {
	background-color: #fff;
	color: #666666;
	box-shadow: -1px 5px 10px #9c9c9c;
}

.dropdown .nav3:hover #vasya {
	color: #666666;
	background-color: #fff;
	/* box-shadow: -1px 5px 10px #9c9c9c; */
}
.dropdown .nav3:hover .usico,
.dropdown .nav3:hover .menuarrow {
	filter: invert(55%);
}

.usico-wrap {
	width: 21px;
	height: 40px;
	float: left;
}
.dropdown .nav3:hover .usico-wrap {
	background-color: white;
	box-shadow: -1px 5px 10px #9c9c9c;

}

.dropdown .nav2 ul, .nav2:active ul,
.dropdown .nav3 ul, .nav3:active ul {
	right: 0;
	box-shadow: -1px 5px 10px #9c9c9c;
}

.dropdown .nav1:hover ul,
.dropdown .nav2:hover ul,
.dropdown .nav3:hover ul {
	display: block;
	width: 320px;
}

/* nav1  start*/
/* .bold */ 
.nav1 ul>li>a {
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 100%;
	display: block;
	padding: 5px 40% 5px 55px;
	text-align: left;
}

.nav1 ul>li:first-child {
	margin-top: 20px;
}

.pos {
	margin-top: 20px;
}

.dropdown .call {
	height: auto;
	margin-left: 25px;
	width: 170px;
}
.dropdown .call img {
	padding: 0;
}
.dropdown .call a {
	padding-left: 30px;
}

.dropdown .time {
	visibility: visible;
	float: none;
}

.dropdown .time a {
	padding: 0;
	padding-top: 20px;
	margin-bottom: 16px;
	margin-left: 55px;
	width: 40%;
}
.dropdown .sm-icon {
	margin-top: 14px;
	margin-left: 25px;
}
.dropdown .down {
	margin-bottom: 40px;
}
.dropdown .sm-icon .load {
	margin-left: 22px;
}
.dropdown .sm-icon p {
	float: none;
}
/* nav1 end */
/* nav3  start*/
.navreg {
	display: block;
	margin: 0 2%;
	width: auto;
	float: right;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
}
.navreg img {
	margin: auto 10px auto 10px;
}
.navreg  .menuarrow {
	width: 10px;
}
.nav3 ul li a {
	display: inline-block;
	margin: 5px 0 5px 55px;
}
.nav3 ul li .pos {
	margin-top: 20px;
}
.nav3 ul li .pos1 {
	margin-bottom: 20px;
}
.nav3 ul li img {
	margin-right: 5px;
}
.nav3 .usico {
	float: left;
	width: 17px;
	height: 23px;
	padding: 8px 2px;
}
/* nav3 end */
/* MENU end */
/* LOGO CONTACTS start */
.contacts {
	width: 100%;
	height: 150px;
	background-color: #ecfccf;
	border-bottom: 1px solid #d5eaae;
}
.contacts-wrap {
	width: 94%;
	margin: 0 auto;
}
.contacts-wrap .logo {
	max-width: 45%;
	padding-bottom: 18px;
}
.contacts-wrap .logo a {
	width: 100%;
}

.contacts-wrap .logo a img {
	width: 100%;
	height: auto;
}

.compare-mob {
	display: block;
	width: 15%;
	height: 40px;
	float: right;
	margin-left: 5%;
	margin-top: 24px;
	line-height: 40px;
}

.belt {
	border-right: 1px solid #d5eaae;
}

.compare-mob img {
	width: 20px;
	height: 20px;
	margin-right: 10%;
}
.compare-mob a {
	width: 50%;
	margin:  0 auto;
	font-size: 12px;
	line-height: 20px;
}

.wrap-basket {
	width: 94%;
	height: 30px;
	display: flex;
}
.catalog {
	display: initial;
	width: 35%;
	min-width: 116px;
	margin-right: 3%;
	float: left;
	border:  none;
	border-top: none; */
	box-shadow: 1px 1px 5px #d2e0b8;
	border-radius: 3px;
	outline: none;
	background-color: #f5f5f5;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 42%, rgba(237,237,237,1) 69%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 42%,rgba(237,237,237,1) 69%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 42%,rgba(237,237,237,1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}	

.search-img {
	display: initial;
	width: 15%;
	display: block;
	background-color: #f5f5f5;
	border: 1px solid #d2e0b8;
	border-radius: 3px;
	border: none;
	box-shadow: 1px 1px 5px #d2e0b8;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 42%, rgba(237,237,237,1) 69%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 42%,rgba(237,237,237,1) 69%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 42%,rgba(237,237,237,1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.search-img img {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 24px;
	padding-top: 3px;
}
/* LOGO CONTACTS end */
/* CONTENT start */
.wrap-content {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.left {
	order: 2;
}
.content {
	width: 94%;
	margin: 0 auto;
	float: none;
}

/* CONTENT Матрасы -> Аскона start */
.bsnone {
	display: block;
}
.prod-wrap-mob {
	width: 100%;
}
.prod-wrap-mob .prodpics {
	margin-right: 5%;
}
.prod-options-mob {
	display: initial;
	width: 100%;
	line-height: 17px;
}
.catal_item {
	width: 100%;
}

.catal_item a {
	display: block;
	padding-left: 0;
	margin-top: 12px;
}

.catal_item .owl-nav {
	display: none;
}
.carousel-hider .owl-nav {
	width: 100%;
}
.carousel-hider .owl-nav .owl-next,
.carousel-hider .owl-nav .owl-prev {
	display: initial;
	margin-top: -83px;
	position: relative;
	z-index: 2;
	width: 30px;
	height: 30px;
	background: none;
}

.carousel-hider .owl-nav .owl-next img,
.carousel-hider .owl-nav .owl-prev img {
	width: 30px;
	height: 30px;
}

.owl-carousel .item {
	position: relative;
	z-index: 1;
}

/* CONTENT Матрасы -> Аскона end */
/* mobile carousel start */
.cont-mob {
	display: initial;
}
.carousel-hider_mob {
	width: 100%;
}
.fieldset_mob {
	margin-top: 20px;
}

.cont-mob {
	width: 100%;
}
.owl-mobile {
	width: 106%;
}
/* mobile carousel end */
/* Content Справка о производителе start */
.catal_item-mob {
	display: block; 
	width: 100%;
	padding-bottom: 9px;
	border-bottom: 1px solid #666;
}
.catal_item-mob b {
	font-size: 14px;
}
.item-mob_text {
	display: block;
	margin-top: 9px;
}
/* Content Справка о производителе end */

.prodmain .prodpics {
	width: 50%;
	max-width: 160px;
	height: 106px;
	min-height: auto;
}
.prodmain .prodpics .logopic {
	width: 100%;
	height: auto;
}
.prodmain .prodpics .logopic img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.prod-menu .prodmain .prpic-main {
	width: 30%;
	max-width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.prod-menu .link-menu b {
	line-height: 20px;
}
.prod-menu .prodmain .prpic-main .price-act,
.prod-menu .prodmain .prpic-main .buy,
.prod-menu .prodmain .prpic-main .select-wrap {
	margin-bottom: 14px;
}
.prod-menu .prodmain .prpic-main .price-act{
	order: 1;
}
.prod-menu .prodmain .prpic-main .buy {
	order: 3;
}
.prod-menu .prodmain .prpic-main .select-wrap {
	order: 2;
}
.prod-menu .prodmain .tovarabout {
	display: block;
	width: 100%;
	float: left;
	line-height: 18px;
}
.prod-menu .prodmain .tovarabout a {
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0;
}
.prod-menu .prodmain .tovarabout .compare-ico a:first-child {
	text-decoration: none;
	border-bottom: 1px dashed #458cc9;
}
.prod-menu .prodmain .tovarabout .compare-ico .det {
	color: #e08a13;
	float: right;
	margin-top: 11px;
}
.prod-menu .prodmain .tovarabout .compare-ico .print {
	float: none;
}

.prod-menu .prodmain .tovarabout .compare-ico .print img {
	margin-right: 5px;
}

.clear {
	clear: both;
}

.content_mobile {
	clear: both;
}
.compare-ico a {
	display: block;
	float: left;
	width: 120px;
}
/* CONTENT Матрасы -> Аскона -> Terapia -> Матрас Аскона Terapia Pulse start */
.column .col_left,
.column .col_right {
	float: none;
	width: 100%;
}
.column .col_right {
	margin-top: 5px;
}
/* Отзывы start */
.review_mob {
	display: block;
	clear: both;
}
.review_mob .catal_item_name {
	color: #666666;
	text-transform: none;
	width: 100%;
	float: none;
}
.review_mob .catal_item_name .review-link1 {
	display: block;
	float: right;
	width: 40px;
	text-decoration: none;
	border-bottom: 1px dashed #458cc9;
	font-size: 12px;
	line-height: 16px;
	margin-top: 0;
}

/* Отзывы end  */
/* форма для отзыва start */
.feedback_reg {
	width: 283px;
	margin: 0 auto;
}
.feedback_reg .feed-wrap {
	width: 283px;
}
.feedback_reg .feedback_name {
	float: left;
}
.feedback_reg .entercomment {
	float: none;
	width: 272px;
}
.feedback_reg .messagearea {
	width: 262px;
}
.feedback_reg .nb_mob {
	display: block;
	font-size: 12px;
	width: 122px;
	margin-left: 0;
	text-align: right;
}
.feedback_reg div {
	margin: 11px 0 0 0;
}
.feedback .feedback_reg .entertext {
	padding-bottom: 5px;
}
/* форма для отзыва end */

/* CONTENT Матрасы -> Аскона -> Terapia -> Матрас Аскона Terapia Pulse end */

/* Content registration form start */
.personal {
	width: 100%;
	clear: both;
}
.regnew {
	width: 100%;
}
.contact {
	width: 100%;
}

.indent {
	margin-bottom: 10px;
	min-height: 23px;
}

.contact p {
	width: 30%;
}

.contact input {
	width: 50%;
}

.contact img {
	display: inline-block;
	max-width: 10%;
	height: 100%;
}
.contact p,
.contact input,
.contact img {
	display: block;
	float: left;
}
.contact .holder {
	margin-left: 33%;
	width: 70%;
}
.contact .code {
	width: 10%;
}

.contact .telnumber {
	width: 30%;
}
.contact span {
	float: left;
	margin: 4px 1%;
}

.contact textarea {
	width: 50%;
	margin-left: 0;
}
.contact .capcha {
	width: 30%;
	float: left;
}
.contact .capcha .capcha-img {
	width: 100%;
}
.contact .capcha .capcha-img img {
	height: 100%;
	width: auto;
}
.contact .capchakey {
	width: 70%;
}
.contact .capchakey .caparea {
	width: 50%;
}
.contact .capchakey img {
	display: block;
	max-width: 10%;
	height: auto;
}

.comment {
	width: 80%;
}

.contact button {
	min-width: 30%;

}
/* Content registration form end */
/* CONTENT end */

/* ASIDE RIGHT start */
.right {
	width: 94%;
	margin: 0 auto;
	float: none;
	order: 1;
}
.green_spec {
	width: 100%;
	margin: 20px 0;
}
.green_spec .news1 {
	width: 100%;
}

.green_spec .news1 .spect {
	width: 80%;
}
/* ASIDE RIGHT end */
/* ASIDE LEFT start */
.left {
	width: 94%;
	margin: 0 auto;
	margin-bottom: 34px;
}

.about {
	display: initial;
	line-height: 17px;
	color: #666666;
	border: 1px solid;
	border-color: #9c9c9c;
	margin: 0 auto;
	margin-top: 19px;
}

.about legend {
	color: #666666;
}

.about div {
	padding: 2%;
	text-align: justify;
}

/* ASIDE LEFT end */
/* FOOTER start */
footer {
	width: 100%;
	height: auto;
	border-top: 1px solid #d5eaae;
}
.footer-wrap {
	width: 94%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.footer-wrap .time {
	width: 47%;
}

.footer-wrap .time .load {
	float: none;
	padding-left: 0;
}

.footer-wrap .time .load-img {
	float: left;
	margin-top: 10px;
}

.footer-wrap .time .load-time {
	margin-top: 10px;
}

.footer-wrap .time .share {
	display: none;
}
.footer-wrap .share-mob {
	display: initial;
	order: 4;
	width: 100%;
	margin-top: 28px;
}

.footer-wrap .call {
	width: 47%;
	float: none;
	order: 2;
	padding-top: 0;
}

.footer-wrap .call .cont a {
	padding-left: 0;
	text-decoration: none;
}
.footer-wrap .call .cont .ch {
	text-decoration: underline;
}
.footer-wrap .call .cont div {
	float: none;
	width: 47%;
}
.footer-wrap .wt5 {
	float: left;
	width: 47%;
}
.footer-wrap .ord {
	order: 1;
}
.footer-wrap .ord1 {
	order: 3;
	margin-top: 0;
}
.footer-wrap .copy {
	order: 5;
	width: 100%;
	margin-bottom: 26px;
}
.footer-wrap .copy .up-bs{
	display: none;
}

.wrap-content .left .btn-up {
	display: initial;
	width: 100%;
}

.wrap-content .left .btn-up .up-ss {
	display: block;
	float: right;
	margin:  20px 0 -15px;
}

/* FOOTER end */




}