<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>13-14 JS Homework</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="./style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Результаты теста</h4>
				</div>
				<div class="modal-body">
					<p></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/template" id="item_tmpl">
			<h1><%= title %></h1>
			<% for ( var i = 0; i < questions.length; i++ ) { %>
			<h3><%= questions[i].title %></h3>
			<div class="check">
				<% for ( var j = 0; j < questions[i].answers.length; j++ ) {  %>
				<input type="radio" name="rb<%=i%>" for="<%=i%>" value="<%=j%>" >
				<%= questions[i].answers[j]  %><br>
				<% } %>
			</div>
			<% } %>
			<button class="results" type="submit">Проверить мои результаты</button>
	</script>
	<script src="js/template.js"></script>
	<script src="js/script.js"></script>
</body>
</html>