body {
  background-color: #ffffff;
  width: 964px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 13.33px;
}

/*HEADER*/
.logo{
  padding-top:45px;
  padding-bottom: 45px;
}

div .topmenu {
  display: block;
  overflow: hidden;
  background: #585858;
  background: url(../img/topmenuitembg2.jpg) repeat-x;
  text-decoration: #e5e5e5;
  text-shadow: 1px 1px 1px #313131;
  font-size: 14.667px;
}

div .topmenu ul {
  list-style: none; 
}

div .topmenu li {
  display: inline;
  float: left;
}

div .topmenu a {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  line-height: 40px;
  text-decoration: none; 
  color: #ffffff;
  border-left: 1 px solid transparent;
  border-right: 1px solid transparent;
}

div .topmenu li a:hover {
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;
  background: url(../img/topmenuitembg.jpg) repeat-x;
}

/*BODYCONTENT*/

/*SIDEBAR*/
.sidebar {
  display: block;
  float: left;
  width: 40%;
  margin-top: 40px;
  border: 1px solid #c8c8c8;
  width: 240px;
}

.sidebar li {
  border-bottom: 1px solid #c8c8c8;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:24px;
}

.sidebar li:last-child {
  border-bottom: none;
}

div.sidebar a {
  text-decoration: none; 
  color: #656363;
}

li.sidebaractive a:hover {
  padding-left: 20px;
  text-decoration: none; 
  color: #2c2c2c;
}

/*CONTENT*/
div.content {
  float: right;
  width: 70%;
  margin-top: 40px;
}

div.contentimg {
  width: 100%;
  height: 400px;
  text-align: center;
  padding-top: 70px;
  border: 1px solid #c8c8c8;
  top: 30px;
  overflow: hidden;
}

div.contenttxt {
  padding-left: 25px;
  padding-top: 40px;
  padding-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

/*FOOTER*/
.footer {
  clear: right;
  padding: 15px;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  margin-bottom: 60px;
  text-decoration: #2c2c2c;
}

.footer.ul {
  list-style: none;   
}

.footer li {
  float: left;
  display: inline;
  margin: 5px; 
  padding: 4px;
}

.footer a {
  text-decoration: none; 
  color: #2c2c2c;
  padding-left: 20px;
  padding-right: 65px;
}

.footer a.borderbottom:hover {
  text-decoration: underline;
}

.footer li.rights {
  float: right;
}

.footer a.rights {
  padding-right: 0px;
}
