@font-face {
    font-family: Tahoma;
    src: url('fonts/Tahoma.ttf');
}

body {
	width: 1000px;
	margin: auto;
	font-family: Tahoma;
	background: url(../img/bg.jpg) repeat-x;
	background-color: #0c739f;
}

div.wrapper {
	background-color: #fff;
	box-shadow: 0 0 10px #000000;/*<сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>*/
	z-index: 1;
}

/*HEADER*/

header {
	display: block;
	background: #fff;
	height: 175px;
	position: relative;
}

div.logo {
	position: absolute;
	top: 13px;
}

div.logo a,
div.logo img {
	display: block;
}

div.contacts {
	float: right;
	position: absolute;
	right: 34px;
}
	
.contacts h5 {
	padding-top: 10px;
	font-size: 10px;
	color: #128aa7;
}

.contacts p {
	padding-top: 5px;
	font-size: 10px;
	color: #128aa7;
}

div.flag {
	float: right;
	position: absolute;
	right: 34px;
	bottom: 12px;
}

div.flag a,
div.flag img {
	display: block;
	padding: 5px;
	font-size: 10px;
	color: #128aa7;
	text-align: center;
	text-decoration: underline;
}

div.flag li {
	display: block;
	float: left;
}

/*HEADERIMG*/

div.headerimg {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

div.headerimg img {
	padding-bottom: 0;
	width: 100%
}

/*MENU*/
div .topmenu {
	position: relative;
	width: 100%;
  	font-size: 14.667px;
  	background: #343434;
  	border-bottom: 1px solid #000;
  	box-shadow: 0 3px 10px #000000;
  	z-index: 999;
}
div.topmenu img {
	padding-left: 10px;
}

/*

.menu {
     display: table; position: relative;
     width: 100%; height: 50px;
}
.menu a {
    display: table-cell;
    text-align: center; vertical-align: middle;
}*/

div.topmenu ul {
  	margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 10px;
}

ul.menu > li > a {
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #343434;
    text-decoration: none;
}

ul.menu > li > a:hover {
    background-color: #343434;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 34px;
    left: 30px;
    background-color: #343434;
    border: 1px solid #343434;
    border-top: 1px solid black;
    box-shadow: 0 5px 10px #000000;/*<сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>*/
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 15px;
    color: #fff;
    background-color: #343434;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

div.topmenu ul:hover {
	display: block;
}

/*COLUMNS*/
div.columns {
	position: relative;
	width: 100%;
	overflow: hidden;  /*лишнее обрезается */
	margin: 0 auto;
}

.sidebarleft {
	width: 20%;
	float: left;
	text-overflow: clip;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.content {
	width: 60%;
	float: left;
	background: #fff;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.sidebarright {
	width: 20%;
	float: right;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

div.wrapperlc {
	width: 78%;
	padding-right: 27px;
	padding-left: 15px;
}

div.wrapperlc h5 {
	text-align: center;
	font-size: 18px;
	padding: 5px;
	color: #424c43;
}

div.wrapperlc p {
	padding: 15px 20px 5px 5px;
    white-space: nowrap;  /*Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: clip;
}

div.wrapperrc {
	width: 78%;
	padding-right: 25px;
	padding-left: 15px;
}

div.wrapperrc p {
	padding: 15px 20px 5px 5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
}

div.wrapperrc h5 {
	text-align: center;
	font-size: 18px;
	padding: 5px;
	color: #424c43;
}

/*FOOTER*/
footer {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer p {
	text-align: center;
	font-size: 12px;
	color: #fff;
}