@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 14px;
    width: 1215px;
    height: 1065px;
    font-family: "Helvetica Neue"; 
    background-color: #90b0bb; 
    margin: 0 auto;
}

div.wrapper {
    width: 1215px;
    height: 1065px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

/*TOPMENU*/

div .topmenu {
    display: block;
    overflow: hidden;
    background: #074885;
    padding-right: 21px;
}

div .topmenu ul {
    list-style: none; 
    float: right;
}

div .topmenu li {
    display: inline;
    float: left;
}

div .topmenu a {
    display: block;
    padding-left: 13px;
    padding-right: 25px;
    text-decoration: none;
    margin: 0 auto;
    line-height: 36px;
    color: #60b5ed;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

div .topmenu li div.line {
    display: block;
    float: left;
    background-color: #56a2dc;
    width: 1px;
    height: 23px;
    padding: 3px 0 2px 0;
    margin-top: 3px
}

div .topmenu li img.flag {
    float: left;
    padding-top: 7px;
    padding-right: 10px;
}

div .topmenu a.lastchild {
    display: inline;
    text-decoration: underline;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}

div .topmenu li p {
    text-align: center;
    padding-left: 13px;
    padding-right: 13px;
}

div .topmenu li a:hover {
    background: #4eabda;
    color: #fff;
}

div .topmenu ul>li:last-child p {
    background: #4eabda;
    opacity: 0,5; 
    color: #fff;
}
    
/*CONTENT*/

div.cadastre {
    width: 560px;
    height: 62px;
    background: rgba(14, 14, 14, 0.7); 
    margin: 0 auto;
    margin-top: 213px;
    margin-bottom: 2px;
}

div.cadastre p {
    text-align: center;
    padding: 19px;
    font-size: 24px;
    color: #fff;
}

form {
    width: 560px;
    height: 575px;
    background: rgba(14, 14, 14, 0.7); 
    margin: 0 auto;
}

button.fb {
    margin-top: 35px;
    margin-left: 142px;
    margin-right: 142px;
    width: 275px;
    height: 35px;
    background: #355192;
    border-radius: 5px;
    border: 1px solid transparent;
}

button p {
    color: #fff;
}

img.line {
    float:right;
}

fieldset {
    color: #fff;
    width: 275px;
    margin: 0 auto;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

legend {
    width: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    color: #666666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 255px;
    height: 35px;
    margin-bottom: 17px;
    background: #000;
    color: #fff;
    padding-left: 20px;
    border: 1px solid transparent;
}

div.checkbox {
    width: 275px;
    margin: 0 auto;
}

label[for="updates"] {
    width: 200px;
    color: #fff;
    text-align: center
}

button.create {
    width: 150px;
    height: 35px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background: #2f7bc5;
    border-radius: 5px;
    border: 1px solid transparent;
}

button.create p {
    color: #fff;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
    border: 1px solid #487795;
    background: #1b5288;
}

div.privacy {
    width: 560px;
    margin: 0 auto;
    margin-top: 20px;
}

div.privacy p {
    color: #fff;
    text-align: center;
    font-size: 11px;
}