@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 14px;
    width: 1215px;
    height: 1065px;
    font-family: "Helvetica Neue"; 
    background-color: #90b0bb; 
    margin: 0 auto;
}

div.wrapper {
    width: 1215px;
    height: 1065px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

/*TOPMENU*/

div .topmenu {
    display: block;
    overflow: hidden;
    background: #074885;
    padding-right: 21px;
}

div .topmenu ul {
    list-style: none; 
    float: right;
}

div .topmenu li {
    display: inline;
    float: left;
}

div .topmenu a {
    display: block;
    padding-left: 13px;
    padding-right: 25px;
    margin: 0 auto;
    line-height: 36px;
    text-decoration: none; 
    color: #60b5ed;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

div .topmenu li a:hover {
    background: #4eabda;
    opacity: 0,5; 
    color: #fff;
}

div .topmenu ul>li:nth-child(5) img {  /*!!!!!!проверить!!!!!!*/
    float: right;
  /*  padding: 3px 1px 3px 23px;*/
}

div .topmenu ul>li:nth-child(6) img {  /*!!!!!!проверить!!!!!!*/
    float: left;
   /* padding: 6px 10px 7px 0;*/
}

div .topmenu ul>li:last-child p {
    
    background: #4eabda;
    opacity: 0,5; 
    color: #fff;
}
    
/*CONTENT*/

div.cadastre {
    width: 560px;
    height: 62px;
    background: rgba(14, 14, 14, 0.7); 
    margin: 0 auto;
    margin-top: 213px;
    margin-bottom: 2px;
}

div.cadastre p {
    text-align: center;
    padding: 19px;
    font-size: 24px;
    color: #fff;
}

form {
    width: 560px;
    height: 550px;
    background: rgba(14, 14, 14, 0.7); 
    margin: 0 auto;
}

button {
    margin-top: 35px;
    margin-left: 142px;
    margin-right: 142px;
    margin-bottom: 32px;
    width: 275px;
    height: 35px;
    background: #355192;
}

button p {
    color: #fff;
}

img.line {
    float:right;
}

fieldset {
    color: #fff;
    margin: 0 auto;
}