@media only screen and (max-width: 320px) {
	.boxshadow {
		display: none;
	}

	.wrapper {
		
	}

	.wrapper-about {
		height: 595px;
	}
	

@media only screen and (max-width: 767px) {
	/*.menu {
		display: block;
		border-radius: 5px 5px 0 0;
		margin: 23px auto;
		text-align: center;
	}

	.menu__button:hover {
		position: relative;
		margin: 0 auto; 
		margin-top: 22px;
		width: 244px;
		height: 257px;
		background-color: rgba(60, 47, 67, 0.5); 
		border: 1px solid #523e5a;
		border-radius: 8px;
		z-index: 2;
	}
	
	.menu__submenu > .submenu__item {
    	display: block;
    	position: absolute;
    	z-index: 2;
	}

	.menu__submenu > li > a {
    display: block;
    padding: 15px;
    color: #fff;
    background-color: #343434;
    text-decoration: none;
    z-index: 2;
	}

	.menu__button:hover > .submenu__item {
		display: block;
		z-index: 2;
	}
	

}	
	*/



	.menu__topmenu {
		display: none;
		transition: all 0.2s;
	}

	.menu__button:hover > .menu__submenu {
		display: block;
		
	}

	.menu__button:hover {
		position: relative;
		margin: 0 auto; 
		margin-top: 22px;
		width: 244px;
		height: 257px;
		background-color: rgba(60, 47, 67, 0.5); 
		border: 1px solid #523e5a;
		border-radius: 8px;
		z-index: 2;
	}


}